<!DOCTYPE html>
<html lang="en"
      dir="ltr">

    <head>
        <meta charset="utf-8">
        <title>Test</title>
        <link rel="stylesheet"type="css"href="/styles/resets.css">
        <link rel="stylesheet"type="css"href="/styles/base.css">
        <link rel="stylesheet"type="css"href="/styles/header.css">
        <link rel="stylesheet"type="css"href="/styles/form.css">
        <link rel="stylesheet"type="css"href="/styles/footer.css">
    </head>

    <body>
        <main>
            <h1>
                Bon Voyage! 🛫
            </h1>

            <form action="" name="geoname">
                <input type="text" name="placename" placeholder="Where to, traveler?" maxlength="20" value="Seattle" required="required">
                <input type="date" name="travel-date-start" required="required" value="">
                <input type="date" name="travel-date-end" required="required" value="">                
                <button type="submit">Let's go!</button>
            </form>              

            <div class="animation">
                <div class="sk-chase">
                    <div class="sk-chase-dot"></div>
                    <div class="sk-chase-dot"></div>
                    <div class="sk-chase-dot"></div>
                    <div class="sk-chase-dot"></div>
                    <div class="sk-chase-dot"></div>
                    <div class="sk-chase-dot"></div>
                </div>
            </div>          

            <section class="trip-duration">
                
            </section>

            <section class="weather">                                
                <div class="current-weather"></div>
                <div class="forecast"></div>
            </section>            
            
            <section class="photos">

            </section>
        </main>

        <footer>
            <p>Built by David Ojeda using <a
            href="https://www.weatherbit.io/" target="_blank" rel="noopener">Weatherbit</a>, <a
            href="https://www.geonames.org/" target="_blank" rel="noopener">Geonames</a>, and <a
            href="https://pixabay.com/" target="_blank" rel="noopener">Pixabay.</a></p> <p> <a
            href="https://twitter.com/DavidOjedaL" target="_blank" rel="noopener">Follow me on Twitter</a>
            👋🏼</p>
        </footer>


        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('./service-worker.js');
                });
            }
        </script>
    </body>

</html>