body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  line-height: 1.3em;  

  background-color: whitesmoke
}


h1 {
  font-size: 2.2em;
  padding: 2rem;
  text-align: center;
}

h2 {
  font-size: 1.6em;  
  display: inline-block;
  padding: .5rem;
}

h3 {
  font-size: 1.1em;
  padding: .5rem;
}

a {
  color: inherit;
}

a:hover {
  color: gray;
}

.trip-duration {
  text-align: center;
  padding-bottom: 2.5rem;
}