form {
  padding: .5rem 2rem 1.5rem 2rem;
  margin: auto;
  max-width: 500px;
  
  display: grid;
  grid-template-areas: 
    "place place place place"
    "date-start date-start date-end date-end"
    "submit submit submit submit"
  ;
  grid-gap: .5rem;
  
  input {
    font-size: 1.1em;  
    padding: .6rem;    

    &[type="text"] {
      grid-area: place;
      border-top-left-radius: .5rem;
      border-top-right-radius: .5rem;
    }

    &[name="travel-date-start"] {
      grid-area: date-start
    }

    &[name="travel-date-end"] {
      grid-area: date-end
    }
  }

  button[type="submit"] {
    grid-area: submit;
    cursor: pointer;
    background-color: whitesmoke;    
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
    font-size: 1.2em;
    padding: .5rem;
    &:hover {
      background-color: floralwhite;
      box-shadow: 5px 4px 6px -3px #000000;
    }  
  }

}
